@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .print-container {
    width: 100%;
    font-size: 9pt;
    line-height: 1.2;
  }
  
  .print-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .print-table td,
  .print-table th {
    border: 1px solid #000;
    padding: 2px 4px;
    font-size: 8pt;
  }
  
  .no-print {
    display: none !important;
  }
}
